WindAlarm:
  module: i1_weather_wind_alarm
  class: WeatherWindAlarm
  device_id: "8a9282bcd3f3555085c7dd8c3f"
  recipients:
    - notification_target: mobile_app_iphone_27
      startup_message: true
      time_of_day: "18:15"
  name: "Vind"
  limits:
    - lt: 20
      gt: 10
      message: "Lite blåsigt"
      msg_cooldown: 86400
    - lt: 30
      gt: 20
      message: "Mycket blåsigt"
      msg_cooldown: 86400
    - lt: 40
      gt: 30
      message: "Jätteblåsigt!"
      msg_cooldown: 21600
    - lt: 1000
      gt: 40
      message: "STORM VARNING!"
      msg_cooldown: 3600
RainAlarm:
  module: i1_weather_rain_alarm
  class: WeatherRainAlarm
  device_id: "8a9282bcd3f3555085c7dd8c3f"
  recipients:
    - notification_target: mobile_app_iphone_27
      startup_message: true
      time_of_day: "18:15"
    - notification_target: mobile_app_iphone_27_2
      startup_message: false
      time_of_day: "12:15"
  name: "Regn"
  limits:
    - lt: 7.5
      gt: 2.5
      message: "Måttligt regn"
      msg_cooldown: 86400
    - lt: 15
      gt: 7.5
      message: "Kraftigt regn"
      msg_cooldown: 21600
    - lt: 1000
      gt: 15
      message: "STARKT REGN!"
      msg_cooldown: 3600
TemperatureAlarm:
  module: i1_weather_temperature_alarm
  class: WeatherTemperatureAlarm
  device_id: "8a9282bcd3f3555085c7dd8c3f"
  recipients:
    - notification_target: mobile_app_iphone_27
      startup_message: true
      time_of_day: "18:15"
  name: "Temperatur"
  limits:
    - lt: 0
      gt: -10
      message: "Mycket kallt!"
      msg_cooldown: 21600
    - lt: -10
      gt: -50
      message: "EXTREMT KALLT!"
      msg_cooldown: 3600
    - lt: 25
      gt: 20
      message: "Varmt"
      msg_cooldown: 86400
    - lt: 30
      gt: 25
      message: "Mycket varmt"
      msg_cooldown: 86400
    - lt: 35
      gt: 30
      message: "Hett!"
      msg_cooldown: 21600
    - lt: 1000
      gt: 35
      message: "EXTREMT HETT!"
      msg_cooldown: 3600
